@font-face {
  font-family: 'SF Pro Display';
  src: url("../font/SFProDisplay-Medium.eot");
  src: local("SF Pro Display Medium"), local("SFProDisplay-Medium"), url("../font/SFProDisplay-Medium.eot?#iefix") format("embedded-opentype"), url("../font/SFProDisplay-Medium.woff2") format("woff2"), url("../font/SFProDisplay-Medium.woff") format("woff"), url("../font/SFProDisplay-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url("../font/SFProDisplay-Heavy.eot");
  src: local("SF Pro Display Heavy"), local("SFProDisplay-Heavy"), url("../font/SFProDisplay-Heavy.eot?#iefix") format("embedded-opentype"), url("../font/SFProDisplay-Heavy.woff2") format("woff2"), url("../font/SFProDisplay-Heavy.woff") format("woff"), url("../font/SFProDisplay-Heavy.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url("../font/SFProDisplay-UltralightItalic.eot");
  src: local("SF Pro Display UltralightItalic"), local("SFProDisplay-UltralightItalic"), url("../font/SFProDisplay-UltralightItalic.eot?#iefix") format("embedded-opentype"), url("../font/SFProDisplay-UltralightItalic.woff2") format("woff2"), url("../font/SFProDisplay-UltralightItalic.woff") format("woff"), url("../font/SFProDisplay-UltralightItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url("../font/SFProDisplay-RegularItalic.eot");
  src: local("SF Pro Display Regular Italic"), local("SFProDisplay-RegularItalic"), url("../font/SFProDisplay-RegularItalic.eot?#iefix") format("embedded-opentype"), url("../font/SFProDisplay-RegularItalic.woff2") format("woff2"), url("../font/SFProDisplay-RegularItalic.woff") format("woff"), url("../font/SFProDisplay-RegularItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url("../font/SFProDisplay-Thin.eot");
  src: local("SF Pro Display Thin"), local("SFProDisplay-Thin"), url("../font/SFProDisplay-Thin.eot?#iefix") format("embedded-opentype"), url("../font/SFProDisplay-Thin.woff2") format("woff2"), url("../font/SFProDisplay-Thin.woff") format("woff"), url("../font/SFProDisplay-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url("../font/SFProDisplay-Light.eot");
  src: local("SF Pro Display Light"), local("SFProDisplay-Light"), url("../font/SFProDisplay-Light.eot?#iefix") format("embedded-opentype"), url("../font/SFProDisplay-Light.woff2") format("woff2"), url("../font/SFProDisplay-Light.woff") format("woff"), url("../font/SFProDisplay-Light.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url("../font/SFProDisplay-BlackItalic.eot");
  src: local("SF Pro Display Black Italic"), local("SFProDisplay-BlackItalic"), url("../font/SFProDisplay-BlackItalic.eot?#iefix") format("embedded-opentype"), url("../font/SFProDisplay-BlackItalic.woff2") format("woff2"), url("../font/SFProDisplay-BlackItalic.woff") format("woff"), url("../font/SFProDisplay-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url("../font/SFProDisplay-Bold.eot");
  src: local("SF Pro Display Bold"), local("SFProDisplay-Bold"), url("../font/SFProDisplay-Bold.eot?#iefix") format("embedded-opentype"), url("../font/SFProDisplay-Bold.woff2") format("woff2"), url("../font/SFProDisplay-Bold.woff") format("woff"), url("../font/SFProDisplay-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url("../font/SFProDisplay-Black.eot");
  src: local("SF Pro Display Black"), local("SFProDisplay-Black"), url("../font/SFProDisplay-Black.eot?#iefix") format("embedded-opentype"), url("../font/SFProDisplay-Black.woff2") format("woff2"), url("../font/SFProDisplay-Black.woff") format("woff"), url("../font/SFProDisplay-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url("../font/SFProDisplay-SemiboldItalic.eot");
  src: local("SF Pro Display SemiboldItalic"), local("SFProDisplay-SemiboldItalic"), url("../font/SFProDisplay-SemiboldItalic.eot?#iefix") format("embedded-opentype"), url("../font/SFProDisplay-SemiboldItalic.woff2") format("woff2"), url("../font/SFProDisplay-SemiboldItalic.woff") format("woff"), url("../font/SFProDisplay-SemiboldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url("../font/SFProDisplay-Ultralight.eot");
  src: local("SF Pro Display Ultralight"), local("SFProDisplay-Ultralight"), url("../font/SFProDisplay-Ultralight.eot?#iefix") format("embedded-opentype"), url("../font/SFProDisplay-Ultralight.woff2") format("woff2"), url("../font/SFProDisplay-Ultralight.woff") format("woff"), url("../font/SFProDisplay-Ultralight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url("../font/SFProDisplay-LightItalic.eot");
  src: local("SF Pro Display LightItalic"), local("SFProDisplay-LightItalic"), url("../font/SFProDisplay-LightItalic.eot?#iefix") format("embedded-opentype"), url("../font/SFProDisplay-LightItalic.woff2") format("woff2"), url("../font/SFProDisplay-LightItalic.woff") format("woff"), url("../font/SFProDisplay-LightItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url("../font/SFProDisplay-ThinItalic.eot");
  src: local("SF Pro Display ThinItalic"), local("SFProDisplay-ThinItalic"), url("../font/SFProDisplay-ThinItalic.eot?#iefix") format("embedded-opentype"), url("../font/SFProDisplay-ThinItalic.woff2") format("woff2"), url("../font/SFProDisplay-ThinItalic.woff") format("woff"), url("../font/SFProDisplay-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url("../font/SFProDisplay-MediumItalic.eot");
  src: local("SF Pro Display MediumItalic"), local("SFProDisplay-MediumItalic"), url("../font/SFProDisplay-MediumItalic.eot?#iefix") format("embedded-opentype"), url("../font/SFProDisplay-MediumItalic.woff2") format("woff2"), url("../font/SFProDisplay-MediumItalic.woff") format("woff"), url("../font/SFProDisplay-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url("../font/SFProDisplay-Semibold.eot");
  src: local("SF Pro Display Semibold"), local("SFProDisplay-Semibold"), url("../font/SFProDisplay-Semibold.eot?#iefix") format("embedded-opentype"), url("../font/SFProDisplay-Semibold.woff2") format("woff2"), url("../font/SFProDisplay-Semibold.woff") format("woff"), url("../font/SFProDisplay-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url("../font/SFProDisplay-HeavyItalic.eot");
  src: local("SF Pro Display HeavyItalic"), local("SFProDisplay-HeavyItalic"), url("../font/SFProDisplay-HeavyItalic.eot?#iefix") format("embedded-opentype"), url("../font/SFProDisplay-HeavyItalic.woff2") format("woff2"), url("../font/SFProDisplay-HeavyItalic.woff") format("woff"), url("../font/SFProDisplay-HeavyItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url("../font/SFProDisplay-Regular.eot");
  src: local("SF Pro Display Regular"), local("SFProDisplay-Regular"), url("../font/SFProDisplay-Regular.eot?#iefix") format("embedded-opentype"), url("../font/SFProDisplay-Regular.woff2") format("woff2"), url("../font/SFProDisplay-Regular.woff") format("woff"), url("../font/SFProDisplay-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url("../font/SFProDisplay-BoldItalic.eot");
  src: local("SF Pro Display BoldItalic"), local("SFProDisplay-BoldItalic"), url("../font/SFProDisplay-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../font/SFProDisplay-BoldItalic.woff2") format("woff2"), url("../font/SFProDisplay-BoldItalic.woff") format("woff"), url("../font/SFProDisplay-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

.wrapper {
  max-width: 1920px;
  margin: 0 auto;
}

.container {
  max-width: 414px;
  margin: 0 auto;
}

.section {
  padding: 142px 0px 0px 0px;
}

/* button */
.btn {
  width: 162px;
  height: 41px;
  margin-right: 15px;
}

.btn a {
  text-decoration: none;
  color: #ffffff;
  font-family: "SF Pro Display";
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.02px;
  line-height: 17px;
  text-transform: uppercase;
  display: block;
  border-radius: 100px;
  background-image: -webkit-gradient(linear, right top, left top, from(rgba(255, 86, 141, 0.98)), to(rgba(245, 30, 71, 0.98)));
  background-image: linear-gradient(270deg, rgba(255, 86, 141, 0.98) 0%, rgba(245, 30, 71, 0.98) 100%);
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.unlock_box {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
}

.unlock_box--closed {
  width: 15px;
  height: 16px;
}

.unlock_box--closed:before {
  content: '';
  width: 3px;
  height: 25px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  border-radius: 94px;
  background-color: #d1d1d6;
  position: fixed;
  top: 30px;
  right: 30px;
}

.unlock_box--closed:after {
  content: '';
  width: 3px;
  height: 25px;
  -webkit-transform: rotate(133deg);
          transform: rotate(133deg);
  border-radius: 94px;
  background-color: #d1d1d6;
  position: fixed;
  top: 30px;
  right: 30px;
}

.unlock_box--title {
  width: 100%;
  max-width: 374px;
  height: 40px;
  color: #333333;
  font-family: "SF Pro Display";
  font-size: 34px;
  font-weight: 700;
  letter-spacing: 0.05px;
  margin-bottom: 16px;
}

.unlock_box--price {
  min-width: 374px;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 100px;
  border: 1px solid #ee334b;
  margin-top: 16px;
}

.unlock_box--price div:first-child {
  width: 110px;
  color: #ee334b;
  font-family: "SFProDisplay-UltralightItalic";
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 0.04px;
  line-height: 17px;
  font-size: 22px;
  text-transform: lowercase;
  font-size: 14px;
  font-weight: 300;
  text-align: left;
  padding-left: 20px;
}

.unlock_box--price span {
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 700;
  display: block;
}

.unlock_box--list {
  width: 100%;
}

.unlock_box--list ul {
  width: 218px;
  height: 123px;
  margin: 0 auto;
  margin-top: 32px;
}

.unlock_box--list ul li {
  color: #000000;
  font-family: "SFProDisplay-UltralightItalic";
  font-size: 17px;
  font-weight: 300;
  letter-spacing: -0.65px;
  line-height: 33px;
  list-style-type: none;
  text-align: left;
  margin-left: 30px;
  position: relative;
}

.unlock_box--list ul li:before {
  content: '';
  width: 12px;
  height: 12px;
  background: url(/img/2-layers.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 10px;
  left: -24px;
}

.unlock_box--scroll {
  width: 100%;
  width: 309px;
  padding-top: 241px;
  opacity: 0.56;
  color: #000000;
  font-family: "SFProDisplay-UltralightItalic";
  font-size: 11px;
  font-weight: 400;
  position: relative;
}

.unlock_box--scroll div:last-child {
  position: fixed;
  bottom: 90px;
  display: none;
  width: 290px;
  padding: 0px 10px 0px 10px;
  display: block;
}

.unlock_box--scroll a {
  color: #000000;
  font-family: "SFProDisplay-UltralightItalic";
  font-size: 11px;
  font-weight: 400;
}

.filter {
  width: 100%;
  height: 100px;
  background: #fff;
  position: fixed;
  bottom: 91px;
  z-index: 1;
  opacity: 0.6;
  -webkit-box-shadow: 0 0 27px rgba(255, 255, 255, 0.5);
          box-shadow: 0 0 27px rgba(255, 255, 255, 0.5);
}
/*# sourceMappingURL=style.css.map */